@{
    ViewData["Title"] = "Home Page";
    List<string>  ola = new List<string> (){
        "MT-07",
        "MT-09",
        "MT-15",
        "MT-10",

    };

    string img = "https://www.yamaha-motor.com.br/file/v972548829457220531/products/lateral-mtseries-mt07-321-abs-30119-fx01-img-01-v02-desktop.jpg";
}

<h1 class="text-center">MOTOS </h1>
<input type="text" id="searchInput" placeholder="Pesquisar motos">

<div class="container">

    <ul id="motoList">
    
        @foreach (string element in ola)
        {

           <li>
            <div class="col-md-4 mb-3" >
                        <div class="moto-item  card" >
                            <img src="@img" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@element</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>

            </li>
              /* <div class="d-flex  card  col-md-4 m-1">
                <img src="@img" class="card-img-top rounded-circle mx-auto" alt="Imagem da moto">
                <div class="card-body">
                    <h5 class="card-title">Entre no modo aventura.</h5>
                    <p class="card-text">Confira os detalhes da Nova @element.</p>
                    
                </div>
            </div>
            */
        }
    </ul>

</div>

<script>
 $(document).ready(function() {
    $("#searchInput").on("keyup", function() {
        var searchTerm = $(this).val().toLowerCase();

        $("#motoList li").filter(function() {
            var $this = $(this); 
            var motoName = $this.find('h5.card-title').text().toLowerCase();
            return motoName.includes(searchTerm);
        })
        .sort(function(a, b) {
            return $(a).text().localeCompare($(b).text()); 
        })
        .get() // Converte para array
        .reverse() // Inverte a ordem
        .forEach(function(item) { 
            $(item).show(); // Mostra os elementos filtrados e ordenados
        });

        $("#motoList li").not(":visible").hide(); // Oculta os elementos não filtrados
    });
});
</script>